<html lang="en">
	<%- include('./partials/header.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>
		<div class="about content">
			<h2>About Us</h2>
			<p>
				There content here is about us
			</p>
		</div>

		<%- include('./partials/footer.ejs') %>
	</body>
</html>