<html>
	<%- include('./partials/header.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>
		<div class="blog content">
			<h2>All Users</h2>
		</div>

		<%- include('./partials/footer.ejs') %>
	</body>
	</html>